body {
    background-color: rgb(194, 16, 75);
    margin:0px;
}

header{
    border-bottom: solid 3px rgb(39, 214, 205);
    padding-left: 70px;
    padding-top: 10px;
font-size: 50px;
color:rgb(197, 66, 143);
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
iframe{
       padding-top: 50px;
    padding-bottom: 40px;
  }
section{
    background-color: rgb(211, 128, 155);
    display: flex;
    justify-content: center;
   }
p, p1 {
    
    padding-top: 30px;
        font-style: oblique;
   padding-right: 35%;
}
h1{
    padding-top: 50px;
padding-right: 5%;


}
h2{
    color:rgb(15, 163, 156);
}
